.xcuserdatad
UserInterfaceState.xcuserstate
WorkspaceSettings.xcsettings
.DS_Store
.DS_Store
*.swp
*.lock
profile
*~.nib
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
xcuserdata
!xcshareddata
*.moved-aside
UserInterfaceState.xcuserstate
browzine.xcodeproj/project.xcworkspace/xcuserdata/funkboy77.xcuserdatad/UserInterfaceState.xcuserstate
*/.idea/workspace.xml 
*/.idea/tasks.xml
Pods/
Pods/*
Pods-Reachability-Private.xcconfig
Pods/BuildHeaders/GoogleAnalytics-iOS-SDK/GAIDictionaryBuilder.h
Pods/
*.xccheckout
Crashlytics.framework